<div class="ui container ">

  <form [formGroup]=newProductForm class="ui form">
    <div class="field">
      <label>Title</label>
      <input formControlName="title"
             name="title"
             placeholder="Title"
             required
             type="text">

      <div *ngIf="title && title.invalid && (title.dirty || title.touched)" class="error">
        <div *ngIf="title?.errors?.required"> Title is required</div>
        <div *ngIf="title?.errors?.minlength"> Title must be at least 3 characters long</div>
        <div *ngIf="title?.errors?.maxlength"> Title must be up to 200 characters long</div>
      </div>

    </div>
    <div class="field">
      <label>Image link</label>
      <input formControlName="img"
             name="img"
             placeholder="Image link"
             required
             type="text">

      <div *ngIf="img && img.invalid && (img.dirty || img.touched)" class="error">
        <div *ngIf="img?.errors?.required"> Image link is required</div>
      </div>

    </div>
    <div class="field">
      <label>Price</label>
      <input formControlName="price"
             name="price"
             placeholder="Price"
             required
             type="text">

      <div *ngIf="price && price.invalid && (price.dirty || price?.touched)" class="error">
        <div *ngIf="price?.errors?.required"> Price is required</div>
        <div *ngIf="price?.errors?.min"> Price must be greater than 0</div>
        <div *ngIf="price?.errors?.pattern"> Price must be a numeric</div>
      </div>

    </div>
    <button [disabled]="newProductForm.invalid" class="ui button" (click)="createProduct()" >Create</button>
  </form>

</div>
